{% extends "EXCOPlatformBundle::layout.html.twig" %}

{% block title %}
	Ajoute une annonce - {{ parent() }}
{% endblock %}

{% block excoplatform_body %}

	<h2>Ajoute une annonce</h2>

	{{ include("EXCOPlatformBundle:Advert:form.html.twig") }}

	<p>
		Vous ajoute une annonce
	</p>

	<p>

	</p>

{% endblock %}